<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Home Page</title>
	<style>
	.home {
		background-color: #3366cc;
		color: black;
		text-align: center;
		border: 2px solid black;
		margin:  10px;
		padding: 5px;
		font-size: 15px;
	}
	.login {
		text-shadow: 2px 2px 7px red;
		text-align: right;
		padding: 5px;
	}
	.button {
		text-align: right;
		cursor: pointer;
	}
	#copyright {
		float: left;
		padding-bottom: 10px;
		padding-top: 10px;
		text-align: center;
		bottom: 0px;
		width: 100%;
		position: absolute;
	}
</style>
</head>
<body style="background-color:#e8effc">
	<div class="home">
		<h1>Welcome to Game changer's note book</h1>
		<h3>This is an online note book</h3>
		<p>Access it anywhere over the internet</p>
	</div>
	<div class="login">
		<b>Already have an account?</b>
	</div>
	<div class="button">
		<button><a href="/login">Login</a></button>
	</div>
	<div class="login">
		<b>New to Game Changer's notebook! :)</b>
	</div>
	<div class="button">
		<button><a href="/signup">Sign Up</a></button>
	</div>
	<div id="copyright">
		Author: <b>Venkhat Balaji. K. R.</b><br>
		Email: <a href="mailto:venkhatbalaji1607@gmail.com">venkhatbalaji1607@gmail.com</a>
	</div>
</body>
</html>
